:root {
  --color1: #606C38;
  --color2: #283618;
  --color3: #FEFAE0;
  --color4: #DDA15E;
  --color5: #BC6C25;
}


header {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0px;
  background-color: var(--color2);
  color: var(--color3)
}


img {
  background: radial-gradient(circle, var(--color4) 0%, white 75%);
  width: 75px;
}

.singleCard img {
  background: radial-gradient(circle, var(--color2) 0%, var(--color1) 75%);
  width: 75px;
}


textarea {
  resize: none;
  height: 40px;
}

h2 {
  font-size: 2rem;
}

#fiveDayMainDiv h2 {
  padding-left: 50px;
}


.cityBtn {
  background-color: var(--color4);
  border:var(--color2);
}


.cityBtn:hover {
  background-color: var(--color5);
  border:var(--color2);
}


.clearHistoryBtn {
  background-color: var(--color3);
  color: var(--color5);
  border: 1px solid var(--color5);
}

.clearHistoryBtn:hover {
  background-color: var(--color5);
  color: var(--color3);
  border: 1px solid var(--color4);
}

.last-p {
  padding-bottom: 30px;
  border-bottom: var(--color2) 1px solid;
}

.singleCard {
  background-color: var(--color1);
  color: var(--color3);
  border: solid black 1px;
  font-size: 0.9rem;
  text-align: center;
  padding: 5px;
  margin: 10px auto;
}


#currentWeatherDiv {
  margin: 0px 30px 30px 30px;
}

#fiveDaySubDiv {
  padding: 0px 50px;
}


#searchBtn {
  background-color: var(--color1);
  border:var(--color2);
}


#searchBtn:hover {
  background-color: var(--color2);
  border:var(--color2);
}


#searchDiv,
#searchHistoryDiv {
  padding-top: 10px;
  margin: 10px;
}


#searchHistoryDiv {
  border-top: 1px solid var(--color2);
}
