/* 
---CSS Order------------------------------
1st) :root and *
2nd) tag elements (alphabetical order)
3rd) tag elements (class order)
4th) tag elements (id order)
------------------------------------------
*/


:root {
  --color1: #606C38;
  --color2: #283618;
  --color3: #FEFAE0;
  --color4: #DDA15E;
  --color5: #BC6C25;
}

img{
  background: radial-gradient(circle, var(--color4) 0%, white 75%);
  width: 70px;
}


header {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0px;
  background-color: var(--color2);
  color: var(--color3)
}


textarea {
  resize: none;
}

h2 {
  font-size: 2rem;
}

.cityBtn {
  background-color: var(--color4);
  border:var(--color2);
}


.cityBtn:hover {
  background-color: var(--color5);
  border:var(--color2);
}


.singleCard {
  border: solid black 1px;
  font-size: 0.9rem;
}

#searchBtn {
  background-color: var(--color1);
  border:var(--color2);
}


#searchBtn:hover {
  background-color: var(--color2);
  border:var(--color2);
}


#searchDiv,
#searchHistoryDiv {
  padding-top: 10px;
  margin: 10px;
}


#searchHistoryDiv {
  border-top: 1px solid var(--color2);
}
