h1 {
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  border: solid 1px blue;
  margin: 3px;
}

p {
  border: dotted 1px red;
  margin: 3px;
}

section,
aside,
#today,
#fiveDay {
  border: solid 1px black;
  margin: 3px;
}

aside {
  width: 30%;
  float: left;
  background-color: lightgreen;
}